<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<h2>Reviews</h2>
<%= render @restaurant.reviews %>

<h2>Add a review:</h2>
<%= form_with(model: [ @restaurant, @restaurant.reviews.build ], local: true) do |form| %>
  <p>
    <%= form.label :reviewer %><br>
    <%= form.text_field :reviewer %>
  </p>

  <p>
    <%= form.label :review %><br>
    <%= form.text_area :comment %>
    <!-- <%= form.text_area :rating %> -->
  </p>

  <p>
    <%= form.label :rating %><br>
    <%= form.radio_button(:rating, 1) %>
    <%= label_tag(:rating, "1") %>
    <%= form.radio_button(:rating, 2) %>
    <%= label_tag(:rating, "2") %>
    <%= form.radio_button(:rating, 3) %>
    <%= label_tag(:rating, "3") %>
    <%= form.radio_button(:rating, 4) %>
    <%= label_tag(:rating, "4") %>
    <%= form.radio_button(:rating, 5) %>
    <%= label_tag(:rating, "5") %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
